<?xml version="1.0" encoding="UTF-8"?>

<web-app>
  <display-name>Archetype Created Web Application</display-name>

 
 <welcome-file-list>
        <welcome-file>accueil</welcome-file>
    </welcome-file-list>
   
    
    <filter>
	<filter-name>RestrictionFilter</filter-name>
	<filter-class>filters.RestrictionFilter</filter-class>
	</filter>
	<filter>
	<filter-name>AuthorParFilter</filter-name>
	<filter-class>filters.AuthorParFilter</filter-class>
	</filter>
	    
	<filter>
	<filter-name>AuthorStoryFilter</filter-name>
	<filter-class>filters.AuthorStoryFilter</filter-class>
	</filter>
	
	<filter>
	<filter-name>ParticipantFilter</filter-name>
	<filter-class>filters.ParticipantFilter</filter-class>
	</filter>
	
	<filter>
	<filter-name>EditStoryFilter</filter-name>
	<filter-class>filters.EditStoryFilter</filter-class>
	</filter>
	
	<filter-mapping>
	<filter-name>ParticipantFilter</filter-name>
	<url-pattern>/editParagraph</url-pattern>
	<url-pattern>/addAChoice</url-pattern>	
	<url-pattern>/writeParagraph</url-pattern>	
</filter-mapping>

	<filter-mapping>
		<filter-name>EditStoryFilter</filter-name>
		<url-pattern>/editStory</url-pattern>
	</filter-mapping>
	

<filter-mapping>
	<filter-name>AuthorParFilter</filter-name>
	<url-pattern>/supprimer</url-pattern>
	<url-pattern>/modifier</url-pattern>	
</filter-mapping>

<filter-mapping>
	<filter-name>AuthorStoryFilter</filter-name>
	<url-pattern>/publier</url-pattern>
	<url-pattern>/autoriserAcces</url-pattern>	
</filter-mapping>

<filter-mapping>
	<filter-name>RestrictionFilter</filter-name>
	<url-pattern>/creation</url-pattern>
	<url-pattern>/edit</url-pattern>
	<url-pattern>/espacePersonnel</url-pattern>
</filter-mapping>

    <servlet>
		<servlet-name>Inscription</servlet-name>
		<servlet-class>servlets.Inscription</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>Inscription</servlet-name>
		<url-pattern>/inscription</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>Connexion</servlet-name>
		<servlet-class>servlets.Connexion</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>Connexion</servlet-name>
		<url-pattern>/connexion</url-pattern>
	</servlet-mapping>
	
	<jsp-config>
    <jsp-property-group>
        <url-pattern>*.jsp</url-pattern>
        <el-ignored>false</el-ignored>
    </jsp-property-group>
 	</jsp-config>
 	
</web-app>
